*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{  
    font-family: Raleway;
}

h2{
    font-weight: normal;
}

.animal-card img{
    max-width: 230px;
}

.container{
    margin: 0 auto;
}
